.resource {
  .title {
    margin: 10px;
  }
  .meta {
    margin: 15px;
  }
  .tag {
    background-color: rgb(238, 238, 238);
    margin: 5px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 3px;
  }
}
